* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url(https://c8.alamy.com/comp/2GWKAGG/natural-resources-2GWKAGG.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

i {
  position: absolute;
  height: 200px;
  background: linear-gradient(transparent, rgb(83, 83, 83));
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(calc(100vh + 200px));
  }
}

.container {
  width: 900px;
  margin: 100px auto;
}

h3 {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  width: fit-content;
}

.header_title {
  background-color: #fff;
  margin-left: 30px;
  margin-bottom: 40px;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flex-direction {
  flex-direction: column;
}

.left-space {
  margin-left: 100px;
}

.btn {
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px #000;
  border-radius: 5px;
}

.title_flex {
  margin-bottom: 20px;
}

.border_div {
  border: 2px solid #000;
  border-radius: 10px;
  background: #fff;
  height: 400px;
  overflow-y: scroll;
}

.col1 {
  padding: 12px;
}

.backColor {
  background-color: rgba(0, 0, 0, 0.257);
}

.input_div input {
  padding: 10px;
  padding-right: 50px;
  border: 3px solid #000;
  border-radius: 10px;
}

#score {
  margin: 20px 0;
}

.submit_btn {
  margin-left: 80%;
}
